@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* White */
  --background-end-rgb: 255, 255, 255; /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255; /* White */
    --background-end-rgb: 255, 255, 255; /* White */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.appearance-none input[type="text"],
.appearance-none input[type="password"],  
.appearance-none input[type="email"] {
  color: black; 
}

* {
  font-family: "Times New Roman", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Custom scrollbar */
/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 0;
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}
